[Unit]
Description=Update Route53 IP Service
After=network.target

[Service]
User=USERNAME
WorkingDirectory=/home/USERNAME/dev/update_route53_ip
ExecStart=/bin/bash -c 'source /home/USERNAME/dev/update_route53_ip/.venv/bin/activate && exec python update_route53_ip.py'
Restart=always

[Install]
WantedBy=multi-user.target
